<!DOCTYPE html>
<html lang="en">
<head>
  <title>bike rental</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <!-- Custom styles for this template -->
  <link href="/static/style_one.css" rel="stylesheet">
</head>
<!---------------------------------------------------head---------------------------------------------->
<body class="bg-info">
<style>
    body {
        background-image: url('https://media.istockphoto.com/photos/blurred-background-at-night-market-festival-people-walking-on-road-picture-id1130290919?k=20&m=1130290919&s=612x612&w=0&h=vGCiInoDLrVRVfOElHkFFzNHFPn0i1lxfvwFy5FDtjM=');
        background-repeat: no-repeat;

        background-size: cover;
    }
</style>
<div class="nav-scroller box-shadow row ml-05 mr-05">
    <nav class="nav nav-underline">
        <a class="nav-link font-weight-bold col-3 col-md-3 col-xs-3 active" href="/">Home</a>
        <a class="nav-link font-weight-bold col-3 col-md-3 col-xs-3 active" href="/logout">logout</a>
    </nav>
</div>
<div class="container pl-05 pr-05">
  <div class="box-shadow">
      <h2 class="">your bike has been booked!!</h2>
    </div>

</div>
</body>
</html>