<!DOCTYPE html>
<html lang="en">
<head>
    <title>Referral code</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link href="/static/style_one.css" rel="stylesheet">
</head>
<body class="bg-light">
<style>
    body {
        background-image: url('https://www.inspiredluv.com/wp-content/uploads/2019/05/Traveling-with-a-Girlfriend.jpg');
        background-repeat: no-repeat;

        background-size: cover;
    }
</style>
<div class="nav-scroller box-shadow row ml-05 mr-05">
    <nav class="nav nav-underline">
    {{if .Mail }}
        <a class="col-3 col-md-3 col-xs-3" href="/profile">{{.Mail}}</a>
        <a class="nav-link col-3 col-md-3 col-xs-3" href="/admin/bike/create">AddBike</a>
        <a class="nav-link font-weight-bold col-3 col-md-3 col-xs-3 active" href="/">Home</a>
        <a class="col-3 col-md-3 col-xs-3" href="/logout">logout</a>
    {{else}}
         <a class="col-3 col-md-3 col-xs-3" href="/login">Login</a>
         <a class="nav-link font-weight-bold col-3 col-md-3 col-xs-3 active" href="/">Home</a>
     {{end}}

    </nav>
</div>
<div class="container">
    <div class="card bg-white box-shadow text-capitalize">
        <div class="card-body pb-02 pt-02 ml-05 mr-05">
            <h5 class="card-subtitle text-capitalize">search for  available bikes</h5>
            <form action="/booking/available" method="post">
                <div class="form">

                    <div class="form-group">
                        <label for="StartDate">StartDate</label>
                        <input type="Date" class="form-control" name="StartDate" placeholder="StartDate">
                    </div>
                    <div class="form-group">
                        <label for="EndDate">EndDate</label>
                        <input type="Date" class="form-control" name="EndDate" placeholder="EndDate">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                    </br>
                    </br>
                </div>
            </form>
        </div>
    </div>
</div>